html,body{
    padding: 0;
    margin: 0;
}
.main{
    height: 100vh;/*vh代表视口高度*/
    width:100vw;/*vw代表视口宽度*/
    background-image: url(background-image/01.jpg);
}
.menu{
    height: 40PX;
    width: 100%;
}
.text{
    height:600PX;
    width: 100%;
}
.foot{
    height: 40PX;
    width: 100%;
}
.text{
    font-size: 36px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    line-height:90vh;
}
